<data-user-panel data-name="{{person.name}}" data-collapsed="{{initialCollapsed}}" data-level="person.level">
    <data-person-address data-person="person"></data-person-address>
    <h4>Friends: </h4>
    <ul>
        <li data-ng-repeat="friend in person.friends">
            {{friend}}
            <data-remove-friend data-method="removeFriend(friend)"></data-remove-friend>
        </li>
    </ul>
    <div data-ng-if="person.rank">
        Rank: {{person.rank}}
    </div>
    <button class="btn btn-success"
            data-ng-click="knightMe()"
            data-ng-if="!person.rank">
            Knight Me
    </button>
</data-user-panel>